
.calendar-container {
   margin: 20px; */
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 10px;
}

.react-calendar {
  border: 1px solid #a0a096;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile--active {
  background-color: #006edc;
  color: white;
}
