.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #43304d;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.footer-text {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.icon-container {
  display: flex;
  gap: 15px;
}

.footer-icon {
  color: white;
  transition: color 0.3s;
}

.footer-icon:hover {
  color: #c456e6;
}

@media (max-width: 600px) {
  .footer-text {
    font-size: 1rem;
  }

  .icon-container {
    align-items: center;
  }
}
