@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .container {
    justify-content: center;
    align-content: center;
  }
}

html {
  height: 100%;
}
body {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Combo", system-ui;
  font-weight: 400;
  font-style: normal;
}
h1 {
  color: #e73a8b;
  text-align: center;
  font-family: "Love Ya Like A Sister", serif;
  font-size: 67px;
}
